@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    border: none;
}

window#waybar {
    background: rgba(18,24,20,0.30);

    color: @fg;

    border-radius: 28px;

    padding: 18px;

    border: 1px solid rgba(255,255,255,0.08);
}

#custom-logo {
    font-size: 24px;
    padding: 16px 0 20px;
    color: @accent;
}

#workspaces {
    margin-top: 18px;
    margin-bottom: 22px;
}

#workspaces button {

    padding: 14px;

    margin: 10px;

    border-radius: 999px;

    color: @text;

    transition: all 180ms;
}

#workspaces button:hover {
    background: rgba(122,174,127,0.15);
}

#workspaces button.active {
    background: @accent;
    color: @active-text;
}

#clock,
#network,
#pulseaudio,
#battery {
    padding: 12px 0;

    margin: 6px 0;

    min-width: 56px;

    color: @fg;
}

#tray {
    margin-top: 32px;
}
